/************************************************
 *  WORKOUT                                     *
 *  shedule 
 ************************************************/
 
.container-schedule  {
    background-color: #1a1a1a;
    border-radius: 3DW%;
    box-shadow: 0px 0px 5DW% #333;
    padding: 6DW%;
    margin: 5DW% 0;
    position: relative;
}

.container-schedule h1 {
    color: White;
    font-size: 5DW%;
    margin: 0;
    margin-bottom: 5DW%;
}

.container-schedule .description {
    color: White;
    font-size: 3.8DW%;
}

.container-schedule .button {
    color: White;
    margin: 0px;
    /*margin-top: 5DW%;*/
}

.description-td {
    width: 65%;
}