/************************************************
 *  SCHEDULE                                    *
 ************************************************/

div.container-workout-schedule h1 {
    margin: 0;
}
 
/*div.schedule select  {
    margin: 0;
    margin-top: 2.5DW%;
} */

img.difficulty  {
    width: 7DW%;
}

div.spots {
    color: #707070;
    font-size: 3.5DW%;
    font-weight: bold;
    text-align: right;
    margin-top: 2DW%;
}

/*select.first {
    margin-top: 5DW%;
} */

h1.schedule {
    margin-bottom: 5DW%;
}

.schedule label {
    margin-bottom: 3px;
    display: block;
}