
#new {
    -moz-border-radius: 6px;
    font-size: 28px;
    line-height: 32px;
    /* height: 34px;*/ 
    height: 49px; 
    width: 288px;
    padding: 0px 0 0 3px;
}

#old {
    border: 2px solid #4c4c4c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 32px;
    /*height: 34px; */
    height: 49px; 
    width: 288px;
    padding: 6px 0 0 3px;
}