/************************************************
 *  BRP                                         *
 ************************************************/
 
.facility-info h1 {
    color: #000;
    font-size: 5DW%;
    margin: 0;
}

/************************************************
 *  Other                                        *
 ************************************************/

/* inside a container with 5DW% padding - 100DW% == 90DW%. */
#map {
    width: 90DW%;
}