/************************************************
 *  Master                                      *
 ************************************************/

#icon-logo {
    width: 38DW%;
}

#icon-about, #icon-login {
    width: 31DW%;
}

.container-header {
    padding: 2.5DW%;
    background-color: #2d2d2d;
    vertical-align: middle;
    height: 11DW%;
}

#btnBack img {
    height: 9.5DW%;
    margin-top: 1DW%;
}

#btnHome img {
    height: 9.5DW%;
    margin-top: 0px;
}

#btnAboutUs img {
    height: 9.5DW%;
    margin-top: 1DW%;
}

#btnBack img {
    margin-left: 3DW%;
}

#btnHome img {
    margin-right: 3DW%;
}

#btnBack {
    float: left;
}

#btnAboutUs {
    float: right;
    margin-right: 2DW%;
}

#btnHome
{
    margin-top: 1.2DW%;
    float: right;
}

#footer {
    background: url(../images/master/gray-gradient.png) #545454 repeat-x;
    color: #c5c5c5;
    font-weight: bold;
    font-size: 4DW%;
    padding: 5DW% 2DW% 5DW% 5DW%;
}

#footer a {
    color: #c5c5c5;
}

#footer-icons {
    float: right;
    width: 26DW%;
    margin-top: -3.1DW%;
}

#footer-icons-twitter, #footer-icons-facebook {
    width: 18DW%;
}

#footer-icons img {
    width: 12DW%;
}

#footer-icons-twitter-empty {
    width: 50% !important;
    display: inline-block;
}